doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MyDayPlanning
    body
        h1 Добро пожаловать!
        input(type="text" value="5:30")
        pre.output
        script(src="script.js") 
        .footer